<h1>Celebrities</h1>
{{#each celebrities}}
<p>
  <a href='/celebrity/{{this.id}}'>{{this.name}}</a>
  <a href='/celebrities/edit?celebrity_id={{this.id}}'>EDIT</a>
</p>
{{/each}}
<a href='/celebrities/add'>ADD</a>